<div class="container col-md-6">
  <h1 style="color:blue;">Registrazione</h1>
  <form (ngSubmit)="userRegister()">
    <div class="mb-3">
      <label for ="exampleFormControllInput1" class="form-label">Nome</label>
      <input type="text"  class="form-control" id="nome" name="nome" [(ngModel)]="user.nome">
    </div>

    <div class="mb-3">
      <label for ="exampleFormControllInput1" class="form-label">Cognome</label>
      <input type="text"  class="form-control" id="cognome" name="cognome" [(ngModel)]="user.cognome" >
    </div>

    <div class="mb-3">
      <label for ="exampleFormControllInput1" class="form-label">Mail</label>
      <input type="text"  class="form-control" id="idRegistrazione" name="idRegistrazione" [(ngModel)]="user.userId">
    </div>

    <div class="mb-3">
      <label for ="exampleFormControllInput1" class="form-label">Password</label>
      <input type="text"  class="form-control" id="passwordRegistrazione" name="passwordRegistrazione" [(ngModel)]="user.password">
    </div>

    <div class="mb-3">
      <label for ="exampleFormControllInput1" class="form-label">Indirizzo</label>
      <input type="text"  class="form-control" id="indirizzo" name="indirizzo" [(ngModel)]="user.indirizzo">
    </div>

    <div class="mb-3">
      <label for ="exampleFormControllInput1" class="form-label">Numero di telefono</label>
      <input type="text"  class="form-control" id="telefono" name="telefono" [(ngModel)]="user.telefono">
    </div>

    <button type="submit" class="btn btn-primary">Conferma</button>
    <a type="button" routerLink="" class="btn btn-primary">Torna agli acquisti</a>
  </form>
</div>
